body{
    font-family: 'Times New Roman', Times, serif;
    background-color: lavenderblush;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.weatherForm{
    margin: 20px;

}

.cityInput{
    padding: 20px;
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
    width: 300px;
}

button[type="submit"]{
    padding: 10px;
    font-weight: bold;
    font-size: 2rem;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

button[type="submit"]:hover{
    background-color: yellowgreen;

}

.card{
    background: linear-gradient(180deg, lightblue, orange);
    padding: 50px;
    box-shadow: 2px 2px 5px gray;
    border-radius: 10px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

h1{
    font-size: 3.5rem;
    margin-top: 0;
    margin-bottom: 25px;

}

p{
    font-size: 1.5rem;
    margin: 5px 0;

}

.cityDisplay, .tempDisplay {
    font-size: 3.5rem;
    font-weight: bold;
    color: black;
    margin-bottom: 25px;

}

.humidityDisplay{
    font-weight: bold;
    margin-bottom: 25px;

}

.descDisplay{
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;

}

.weatherEmoji{
    margin: 0;
    font-size: 7.5rem;

}

.errorDisplay{
    font-size: 2.5rem;
    font-weight: bold;
    color: black;
}